<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit"><!--通知国产双核浏览器用webkit渲染-->
    <!-- 禁止了把数字转化为拨号链接 -->
    <meta name="format-detection" content="telephone=no">
    <style media="handheld" type="text/css"></style>
    <link rel="stylesheet" href="//cdn.bootcss.com/normalize/3.0.3/normalize.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css">
    {clip="css"}
    <title>{$_page_title|escape}</title>
</head>
<body>
{include="$_content_template"}

<script src="//cdn.bootcss.com/jquery/2.2.0/jquery.min.js"></script>
<script src="/static/js/common.js"></script>
{clip="js"}
</body>
</html>
